page-select-client {
    .list-menu{
        background-color: color($colors, primary);
    }

    .img-datahub {
        margin: 30px auto 20px auto;
        background: url('../assets/img/logo_white.png') no-repeat transparent;
        background-size: 100%;
        width: 200px;
        height: 35px;
        border-bottom: 1px $background-color;
    }

    .list-menu-item {
        background-color: color($colors, primary);
        color: $background-color;
        p {
            color: darken($background-color, 35%);
        }
    }
    .list-menu-item-selected{
        background-color: darken(color($colors, primary),30%);
        color: darken($background-color, 30%);

        p {
            color: darken($background-color, 30%);
        }
    }
}
