page-welcome {
  .datahub-bg {
    position: relative;
    background: url('../assets/img/splash.png') no-repeat center center fixed; 
    background-size: cover;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
}
